* {
  box-sizing: border-box;
  word-wrap: break-word;
}

html {
  min-height: 100%;
}

html,
body {
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-stretch: normal;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
}

.container {
  background-color: #ecf5ff;
}
